<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Welcome to Bus App
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">


    <button mat-button  class="menu-button" routerLink="/Home">
      <mat-icon  class="menu-font">home</mat-icon>
      <span class="menu-font">Home</span>
    </button>
    <div *ngIf="!accountButton">
    <button mat-button class="menu-button" routerLink="/SignIn">
      <mat-icon  class="menu-font">login</mat-icon>
      <span  class="menu-font">SignIn</span>
    </button>
    <button mat-button class="menu-button" routerLink="/SignUp">
      <mat-icon  class="menu-font">person</mat-icon>
      <span  class="menu-font">SignUp</span>
    </button>
    </div>

    <div *ngIf="accountButton">
      <button mat-button class="menu-button" routerLink="/Ticket">
        <mat-icon  class="menu-font">insert_drive_file</mat-icon>
        <span  class="menu-font">Ticket</span>
      </button>
      <button mat-button class="menu-button" routerLink="/Account">
        <mat-icon  class="menu-font">person</mat-icon>
        <span  class="menu-font">Account</span>
      </button>
    </div>


    <mat-divider></mat-divider>

    <button mat-button class="menu-button"  >
      <mat-icon  class="menu-font">help</mat-icon>
      <span  class="menu-font">Help</span>
    </button>
    <button mat-button class="menu-button" *ngIf="logBut" (click)="logout()">
      <mat-icon  class="menu-font">logout</mat-icon>
      <span  class="menu-font">Logout</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
