<h2 mat-dialog-title>Enter the month!</h2>
<mat-dialog-content>
  <p>Select a month from the list and click OK</p>
  <form>
  <mat-form-field appearance="fill">
    <mat-label>Month</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="months">
      <mat-option *ngFor="let month of months" [value]="month.name">
        {{month.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  </form>

</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button (click)="onClick()">OK</button>

</mat-dialog-actions>

