
<mat-card>
  <mat-card-title>Ticket List</mat-card-title>
  <p></p>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Departure</th>
        <th scope="col">Arrival</th>
        <th scope="col">Prize</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <p></p>
    <tbody >
      <tr class="rows" *ngFor="let conn of connectionList">
        <td>{{conn.date}}</td>
        <td>{{conn.from}}</td>
        <td>{{conn.to}}</td>
        <td>{{conn.timeFrom}}</td>
        <td>{{conn.timeTo}}</td>
        <td>{{conn.prize}} zl.</td>
        <td>
          <button mat-flat-button class="button-login" color="primary" (click)="downloadTicket(conn.id)">DownLoad</button>
        </td>

      </tr>

    </tbody>
  </table>
</mat-card>

<mat-divider>
</mat-divider>
<mat-card >
<mat-card-title>List of monthly tickets</mat-card-title>
  <p></p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Month</th>
        <th scope="col">Prize</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <p></p>
    <tbody >
      <tr class="rows" *ngFor="let ticket of ticketMonthlyList">
        <td>{{ticket.from}}</td>
        <td>{{ticket.to}}</td>
        <td>{{ticket.month}}</td>
        <td>{{ticket.prize}} zl.</td>
        <td>
          <button mat-flat-button class="button-login" color="primary" (click)="downloadTicketMonthly(ticket.id)">DownLoad</button>
        </td>

      </tr>

    </tbody>
  </table>
</mat-card>







