<mat-card>
    <mat-card-content>
        <div class="header">
            <h2>SIGN IN</h2>
        </div>
        <form  name="loginForm">
            <div class="email-input">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" [errorStateMatcher]="matcher" [formControl]="email" matInput required />
                    <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                        Required email address
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <span class="aLink">Forgot Password</span>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input  type="password" [formControl]="password" [errorStateMatcher]="matcher" matInput [type]="hide ? 'password' : 'text'" required />
                    <button  mat-icon-button matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide Password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{ hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="password.hasError('required')">
                        Required Password
                    </mat-error>
                </mat-form-field>
            </div>
            <button mat-flat-button color="primary" (click)="onLogin()">Login</button>
        </form>
    </mat-card-content>
</mat-card>
